/* 
    Document   : Site
    Created on : Dec 22, 2012, 12:08:50 PM
    Author     : Priyanga
    Description:
        Purpose of the stylesheet follows.
*/
@font-face {
	font-family: 'avgardnRegular';
	src: url('../fonts/avgardn.eot');
	src: local('avgardn Regular'), local('avgardn'), url('../fonts/avgardn.ttf') format('truetype');
}
@font-face {
	font-family: 'goofballRegular';
	src: url('../fonts/goofball.eot');
	src: local('goofball Regular'), local('goofball'), url('../fonts/goofball.ttf') format('truetype');
}
@font-face {
	font-family: 'ganganeeRegular';
	src: url('../fonts/ganganee.eot');
	src: local('ganganee Regular'), local('ganganee'), url('../fonts/ganganee.ttf') format('truetype');
}
@font-face {
	font-family: 'amorousRegular';
	src: url('../fonts/amorous.eot');
	src: local('amorous Regular'), local('amorous'), url('../fonts/amorous.ttf') format('truetype');
}

.fadein { position:relative; height:640px; width:560px; }
.fadein img { position:absolute; left:0; top:0; }
/**************************************##############****************************************/
/*                                                                                          */
/*                                      To All pages                                         */
/*                                                                                          */
/**************************************##############****************************************/
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    background-position: center;
}
#main_wrapper{
    width: 1000px;
    height: 100%;
    margin: 0 auto 20px auto;
    padding: 0;
/*    background-color: #F00;*/
}
/*To index.php*/
#img{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
/**************************************##############****************************************/
/*                                                                                          */
/*                                      To Header pages                                     */
/*                                                                                          */
/**************************************##############****************************************/
#header_wrapper{
    width: 1000px;
    height: 100px;
    margin: 0 auto 0px auto;
    padding: 0;
/*    background-color: #ccffff;*/
}
#left_header{
    width: 200px;
    height: 100px;
    float: left;
    margin: 0;
    padding: 0;
/*    background-image: url('../images/')*/
/*    background-color: #d8d8d8;*/
    
}
#right_header{
    width: 800px;
    height: 100px;
    float: right;
    margin: 0;
    padding: 0;
/*    background-color: #09f;*/
    
}
#box_menu{
    width: 710px;
    height: 30px;
    float: right;
    margin: 30px 0 0 0;
    padding: 0;
/*    background-color: #ffffff;*/
    
}

.menu_txt{
    font-family:'avgardnRegular', Arial, sans-serif;
    color: #0099ff;
    
}
.menu_txt:hover{
    font-family:'avgardnRegular', Arial, sans-serif;
    color: #b7b7b7;
    
}
.li_header{
    list-style-type: none;
    display: inline;
    text-align: justify;
    margin: 0 37px 0 0;
}
/**************************************##############****************************************/
/*                                                                                          */
/*                                      To Home page                                        */
/*                                                                                          */
/**************************************##############****************************************/
#wrapper{
 margin-right: auto;
 margin-left: auto;
 width: 1000px;
 height: 640px;
 background-color: black;

}

#content {
 width: 350px;
 height: 640px;
 background-image: url("../images/home/13.png") ;
 float: left;
/* background-color: black;*/
 }

#logo {
    width: 200px;
    height: 100px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    }
    
ul {
    width: 150px;
    height: 385px;
    margin: 40px auto 0 auto;
/*    margin-top: 40px;
    margin-left: 70px;
    margin-right: auto;*/
    list-style-type: none;
/*    background-color: #33ff99;*/
    
    }
#Fb{
    width: 220px;
    height: 45px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    
    }
    #Fbh2{
        width: 35px;
        height: 35px;
        font-family:'goofballRegular', Arial, sans-serif;
        font-size: 20px;
        font-weight: bolder;
        text-shadow: 2px 2px 10px  #ccffff;
        float: left;
        color: #0099ff;
    }
    #Fbh2:hover{
        width: 35px;
        height: 35px;
        font-family:'goofballRegular', Arial, sans-serif;
        font-size: 21px;
        font-weight: bolder;
        text-shadow: 2px 2px 10px  #ccffff;
        float: left;
        color: #0099ff;
    }
    
    #Fbimg{
        width: 45px;
        height: 45px;
        float: next;
     }
     #Fbimg:hover{
        width: 47px;
        height: 47px;
        float: next;
        
     }
     
    #Fbh3{
        width: 130px;
        height: 35px;
        font-family:'avgardnRegular', Arial, sans-serif;
        font-size: 16px;
        text-shadow: #F00 100px 100px 100px;
        margin-left: 0px;
        float: right;
        color: #0099ff;
    }
    #Fbh3:hover{
        width: 130px;
        height: 35px;
        font-family:'avgardnRegular', Arial, sans-serif;
        font-size: 17px;
        text-shadow: #F00 100px 100px 100px;
        margin-left: 0px;
        float: right;
        color: #0099ff;
    }
    
/*************************** Slide Show Styles *******************************/
#slide {
 width: 650px;
 height: 640px;
 float: right;
/* background-color: background;*/
 
}
#slideshow { 
    margin: 0px auto; 
    position: relative; 
    width: 650px;
    height: 640px; 
    padding-left: 30px;
}
#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}
/****************************** Slider End ***********************************/
.clscontent{
    color: azure;
    font-family:'avgardnRegular', Arial, sans-serif;
    /*font-size: x-large;*/
    font-weight: 300;
    text-shadow: 2px 2px 10px  #ccffff;
    text-align: center;
    opacity: 0.6;
    font-size: 1.4em;
}
.clscontent:hover{
    color: #0099ff;
    font-family:'avgardnRegular', Arial, sans-serif;
    font-size: 1.4em;
    font-weight: 600;
    text-shadow: 0px 0px 60px  #ff00cc;
    text-align: center;
    opacity: 1;
}
.bmenu{
    padding: 0px;
    margin: 0px;
    position: relative;
    }
.bmenu{
    font-size:20px;
    display: block;
    text-spacing: trim-end;
    }



/**************************************##############****************************************/
/*                                                                                          */
/*                                      To Gallery pages                                     */
/*                                                                                          */
/**************************************##############****************************************/
#container_wedding, #container_protfolio, #container_nature{
    width: 960Px;
    height: 640px;
    margin: 0 auto 10px auto;
    padding: 0px;
    position: static;
/*    background-color: #09f;*/
}
#gallery_pl_hd_box{
    width: 1000px;
    height: 40px;
/*    float: left;*/
    margin: 0px auto 0px auto;
    padding: 0;
/*    background-color: #33ff99;*/
}
#box_glheader{
    width: 400px;
    height: 40px;
    float: left;
    margin: 0px auto 0px auto;
    padding: 0;
/*    background-color: #F00;*/
    
}
.glheader_txt{
    font-family:'avgardnRegular', Arial, sans-serif;
    color: #0099ff;
    font-size: 1.5em;
    padding-left: 40px;
/*    line-height: 2em;*/
}

/* This rule is read by Galleria to define the gallery height: */
#galleria{height:570px; width: 960px;margin-left: auto;margin-right: auto;}

/**************************************##############****************************************/
/*                                                                                          */
/*                                      To Vision page                                      */
/*                                                                                          */
/**************************************##############****************************************/

#container_vision{
    width: 1000Px;
    height: 100%;
    margin: 0px auto 0 auto;
    padding: 0;
    position: static;
/*    background-color: #ffffff;*/
}

#arjuimg_vs{
        width: 854px;
        height: 400px;
        margin: 30px auto 30px auto;
        background-image: url("../images/vs.jpg");
/*        background-color: #ccffff;*/
    }
#leftcnt{
    width: 400px;
    height: 600px;
    float: left;
    margin: 0 0 40px 0;
    border: 0;
    padding: 20px 20px 0 70px;
/*    background-color:#d8d8d8;*/
}
   
#rightcnt{
    width: 400px;
    height: 600px;
    float: right;
    margin: 0 0 40px 0px;
    border: 0;
    padding: 20px 60px 0 50px;
/*    background-color:#22BCB9;*/
}
.english{
    font-family:'avgardnRegular', Arial, sans-serif;
    line-height: 1.3em;
    font-size: 17px;
    font-weight: 100;
    color: #0099ff;
}
.sinhala{
    font-family:'ganganeeRegular', Arial, sans-serif;
    line-height: 1.3em;
    font-size: 15.5px;
    font-weight: 100;
    color: #0099ff;
}
/**************************************##############****************************************/
/*                                                                                          */
/*                                      To Contact us page                                  */
/*                                                                                          */
/**************************************##############****************************************/

#container{
    width: 1000Px;
    height: 450px;
    margin: 0px auto;
    padding: 0;
/*    background-color: black;*/
}
#arjuimg_cn{
        width: 960px;
        height: 384px;
        margin: 30px auto 30px auto;
        background-image: url("../images/cn.jpg");
/*        background-color: #ccffff;*/
    }
#contact_details{
    width: 980px;
    height: 150px;
    margin: 0 auto 20px auto;
    border: 0px;
    padding-left: 20px;
/*    background-color: #777;*/
}

#box_cntc_uslink{
    width: 790px;
    height: 20px;
    float: left;
    margin: 0;
    padding: 0;
/*    background-color: #ffffff;*/
    
}
.li_cntc_us{
    font-family:'avgardnRegular', Arial, sans-serif;
    color: #0099ff;
    list-style-type: none;
    display: inline;
    text-align: justify;
    margin: 0 10px 0 0;
}
.li_cntc_us:hover{
    font-family:'avgardnRegular', Arial, sans-serif;
    color: #b7b7b7;
    list-style-type: none;
    display: inline;
    text-align: justify;
    margin: 0 10px 0 0;
}


#Soicial_logo{
    width: 170px;
    height: 90px;
    margin: 0 auto 0 auto;
    border: 0px;
    padding: 10px 10px 10px 10px;
/*    background-color: #d8d8d8;*/
}

.Contacticn{
    width:64px;
    height: 64px;
    float: right;
    margin: 0 10px 0 10px;
    border: 0px;
    padding: 0px;
/*    background-color: background;*/
    opacity: 0.8;
}
.Contacticn:hover{
    width:64px;
    height: 64px;
    float: right;
    margin: 5px 10px 0 10px;
    border: 0px;
    padding: 0px;
/*    background-color: background;*/
    opacity: 1;
}
.Contacticn:active{
    width:62px;
    height: 62px;
    float: right;
    margin: 5px 10px 0 10px;
    border: 0px;
    padding: 0px;
/*    background-color: background;*/
    opacity: 0.7;
}

/**************************************##############****************************************/
/*                                                                                          */
/*                                      To Footer                                      */
/*                                                                                          */
/**************************************##############****************************************/


#footer_cnt{
    font-family: inherit, Arial, sans-serif;
    width: 1000px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    padding: 0px;
    color: #33ff99;
    text-align: center;
    /*    background-color: black;*/
}

#footer_cnt a:link{
    color: #09f;
}
#footer_cnt a:hover{
    color: yellow;
}