<div id="container_vision">
    <div id="box_glheader"><span class="glheader_txt">Contact Us</span></div>
    <br>
    <div id="arjuimg_cn"></div>

    <div id="contact_details">
        <p class="english">
            Telephone : (+94) 77 23 82 321,  (+94) 71 11 44 150<br>
            Email : <a href="" style="color: #33ccff">info@art1pix.com</a><br><br>
            Address : K.V. Arjuna Nushantha (Creative Head), art1pix creative house- Irabadagama Sadalankawa.<br>
            </p>
<!--            Groups : 
        <div id="box_cntc_uslink">
            <ul style="list-style-type: none; margin: 0px; padding: 0px; display: inline;">
                <li class="li_cntc_us"><a class="li_cntc_us" href="" style="text-decoration: none">UJ Photography</a></li>
                <li class="li_cntc_us"><a class="li_cntc_us" href="" style="text-decoration: none">Sithu Seya Studio</a></li>
                <li class="li_cntc_us"><a class="li_cntc_us" href="" style="text-decoration: none">Studio Epic84</a></li>
                <li class="li_cntc_us"><a class="li_cntc_us" href="" style="text-decoration: none">Sadalanka film Production</a></li>
                <li class="li_cntc_us"><a class="li_cntc_us" href="" style="text-decoration: none">D2Real Web Solution</a><br></li>
            </ul>
        </div>-->
    </div>

    <div id="Soicial_logo">
        <div id="fb">
            <a href="www.facebook.com" target="_blank"><img class="Contacticn" src="images/fblogo.png"></a>
        </div>
        <div id="tw">
            <a href="www.facebook.com" target="_blank"><img class="Contacticn" src="images/twlogo.png"></a>
        </div>
    </div>
</div>