<div id="footer_cnt">
    <p>Art1pix Photography <i>"What a Beautiful Moment"</i>
        <br><a href="index.php" style='text-decoration: none;'>www.art1pix.com</a> | All Right Reserved | <b>Powered By</b><a href="http://panasara.com" style='text-decoration: none;' target="_blank"><b><i> Panasara</i></b></a></p>
</div>
