<div id="Container">
    <div id="header_wrapper">
        <div id="left_header">
            <div>
                <img src="images/home/logo.png" title="Home" width="200" height="100" border="0" usemap="#Map">
            </div>
            <map name="Map">
                <area shape="rect" alt="" coords="27,23,181,78" href="index.php" />
            </map>
        </div>

        <div id="right_header">
            <div id="box_menu">
                <ul style="list-style-type: none; margin: 0; padding-left: 425px; display: inline; text-align: right">
                    <li class="li_header"><a href="home.php" style="text-decoration: none"><span class="menu_txt">Home</span></a></li>
                    <li class="li_header"><a href="vision.php" style="text-decoration: none"><span class="menu_txt">Vision</span></a></li>
                    <li class="li_header"><a href="contact_us.php" style="text-decoration: none"><span class="menu_txt">Contact us</span></a></li>
                </ul>
                <br /><br />
                <ul style="list-style-type: none; margin: 0px; padding-left: 30px; display: inline;">
                    <li class="li_header"><a href="protfolio.php" style="text-decoration: none"><span class="menu_txt">Portfolio</span></a></li>
                    <li class="li_header"><a href="art.php" style="text-decoration: none"><span class="menu_txt">Art</span></a></li>
                    <li class="li_header"><a href="closeup.php" style="text-decoration: none"><span class="menu_txt">Close-up</span></a></li>
                    <li class="li_header"><a href="candid.php" style="text-decoration: none"><span class="menu_txt">Candid</span></a></li>
                    <li class="li_header"><a href="commercial.php" style="text-decoration: none"><span class="menu_txt">Commercial</span></a></li>
                    <li class="li_header"><a href="wedding.php" style="text-decoration: none"><span class="menu_txt">Wedding</span></a></li>
                    <li class="li_header"><a href="nature.php" style="text-decoration: none"><span class="menu_txt">Nature</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>