/*
Copyright © 2012 - 2014 D2Real Solutions.
All Rights Reserved.

These materials are unpublished, proprietary, confidential source code of
D2Real Solutions (pvt) Limited and constitute a TRADE SECRET of D2Real Solutions (pvt) Limited.

Author : S.Priyanga < s.priyanga22@gmail.com >
Description : 
Created on : May 17, 2014, 10:59:02 AM
*/
/* 
    Created on : May 17, 2014, 10:59:02 AM
    Author     : S.Priyanga
*/

body{
    width: 100%;
    height: 100%;
    margin: 0 auto 0px auto;
    /*padding-bottom: 170px*/
}

h1,h2,h3,h4,p,a,ul,li,span{
    font-family: 'Titillium Web', sans-serif;
}

h1{
    color: #c0c0c0;
}
a{
    text-decoration: none;
    color: #666666
}
a:hover{
    text-decoration: none;
    color: #ff6600
}

.ftw-list{
    display: inline;
    list-style: none;
    margin-left: 20px;
}

.ftw-menu-list{
    display: inline;
    list-style: none;
    margin: 0 21px;
}
.ftw-menu-list:hover{
    /*text-decoration: underline;*/
    border-bottom: 3px solid #ff6600;
/*    background-image: url('../img/underline.png');
    background-repeat: no-repeat;
    margin-top: 30px;*/
}
.ftw-socialimg{
    text-align: right; width: 20px; height: 20px;
    margin-left: 5px;
}
.ftw-socialimg:hover{
    opacity: 0.5;
}
.ftw-title{
    color: #ff9933;
}
.ftw-title-p{
    text-align: center;
}

.ftw-slide-quote{
    color: #3399ff;
}
.ftw-button:hover{
    border: 2px solid #ff9933;
}
.ftw-bgleft{
    position: absolute;
    top: 820px;
    left: 100px;
    width: 10px;
    height: 60px;
    background: url(../img/bgleft.png);
    /*background: #3399ff;*/
    background-repeat: repeat-x;
}
#ftw-footer{
    position: absolute;
    height:170px;
    top: 100%;
    bottom:0px;
    margin-bottom:0px;
    width: 100%;
        
/*        position: relative;
  bootom: 0;
  margin-top: -180px;  negative value of footer height 
  height: 180px;*/
  /*clear:both;*/
}


//Slider
/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px 0px 0px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
  width: 50px;
}
#quote-carousel .carousel-indicators .active 
{
  background: #ff9933;
  width: 50px;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
      margin-top: 30px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}